html{
	height: 100%;
	margin: 0; 
    padding: 0;
}
body{
	height: 100%; 
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	font-family: 'Russo One', sans-serif;
	font-family: 'Play', sans-serif;
}
.wrapper{
	min-height: 100%;
    position: relative;
}
.clearfix{
	content: "";
	display: table;
	clear: both;
}
.container{
	width: 960px;
	height: auto;
	margin: 0 auto;

}
.clear{
    clear: both;
}

/*header.php*/
.main-header{
	width: 100%;
	height: 85px;
	margin: 0;
	padding: 0;
	background-color: #777777;
}
.title-text{
	width: 150px;
	height: 85px;
	margin: 0;
	margin-right: 10px; 
	padding: 0;
	background-color: #5f5e5c;
	float: left;
}
.title-text-h1{
	margin: 0;
	padding: 0;
	padding: 20px 3px;
	font-family: 'Play', sans-serif;
	font-weight: 400;
	font-size: 32px;
	text-align: center;
	color: #fffcf6;
}
.title-text-a{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
.main-navigation{
	width: 660px;
	height: 35px;
	float: left;
}
.main-navigation ul{
	margin: 0;
	padding: 0;
	padding-top: 5px;
	list-style: none;
	font-size: 0;
}
.main-navigation li{
	margin: 0;
	padding: 0;
	display: inline-block;
	font-size: 16px;
	line-height: 22px;
	font-family: 'Play', sans-serif;
	font-weight: 400;
}
.main-navigation a{
	margin: 0;
	padding: 0;
	display: block;
	padding: 2px 5px;
	color: #fffcf6;
	text-decoration: none;
}
.main-navigation a:hover{
	background: #5f5e5c;
	text-shadow: 1px 1px 2px #fffcf6;
}
.user{
	width: 125px;
	height: 80px;
	float: right;
}
.header-tel{
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 20px;
	font-family: 'Play', sans-serif;
	font-weight: 400;
	color: #fffcf6;
	text-align: right
}
.header-e-mail{
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 20px;
	font-family: 'Play', sans-serif;
	font-weight: 400;
	color: #fffcf6;
	text-align: right
}
.header-e-mail a{
	padding: 0;
	margin: 0;
	font-family: 'Play', sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #fffcf6;
	text-align: right;
	text-decoration: none;
}
.header-e-mail a:hover{
	color: #fffcf6;
	text-shadow: 1px 1px 2px #fffcf6;
	text-decoration: underline;
}
#block-search{
	width: auto;
	height: auto;
	margin-top: 10px;
	margin-right: 50px;
	float: right;
}
#block-search input#input-search{
	width: 150px;
	height: auto;
	margin: 0;
	padding: 0;
	padding-left: 5px;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	font-family: 'Play', sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #5f5e5c;
	border: 1px solid #000;
}
#button-search{
	width: auto;
	height: auto;
	position: relative;
	margin: 0;
	padding: 0;
	padding-left: 5px;
	padding-top: 4px;
	padding-right: 5px;
	padding-bottom: 4px;
	margin-left: 5px;
	box-shadow: 4px -4px 1px rgba(0,0,0,0.5);
	border-radius: 5px;
	cursor: pointer;
	background-color: #fffcf6;
	border: none;
	font-family: 'Play', sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #5f5e5c;
}
#button-search:hover{
	background: #aaa2e9;
	color: #fffcf6;
	cursor: pointer;
	text-shadow: 1px 1px 2px #fffcf6;
}
.result-search{
	width: 200px;
	height: auto;
	margin: 0;
	padding: 0;
	margin-top: 5px;
	padding: 5px;
	display: none;
	list-style: none;
	border-left: 1px solid #5f5e5c;
	border-right: 1px solid #5f5e5c;
	border-bottom: 1px solid #5f5e5c;
	background-color: #ffffff;
	position: absolute;
	z-index: 2;
}
.result-search a{
	margin: 0;
	padding: 0;
	margin-bottom: 5px;
	display: block;
	font-family: 'Play', sans-serif;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	color: #aaa2e9;
	text-decoration: none;
}
.result-search a:hover{
	text-decoration: underline;
	background-color: #5f5e5c;
	color: #ffffff;
} 
.search-worning{
	margin: 0;
	padding: 0;
	font-family: 'Play', sans-serif;
	font-weight: 700;
	font-size: 17px;
	line-height: 17px;
	color: #5f5e5c;
}

/*index.php*/
.logo-image{
	width: 400px;
	height: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.logo-image img{
	padding: 0;
	margin: 0;
	width: 400px;
	height: 200px;
}
.features{
	width: 960px;
	height: 1140px;
	padding-bottom: 120px; 
}
.features-item1{
	width: 960px;
	height: 370px;
	float: left;
	background: url(../img/сonsumables.png) no-repeat;
}
.left-about{
	width: 415px;
	height: 370px;
	margin-top: 35px;
	margin-left: 50px;
	float: left;
}
.right-about{
	width: 415px;
	height: 370px;
	margin-top: 180px;
	margin-right: 50px;
	float: right;
}
.features-item2{
	width: 960px;
	height: 370px;
	margin-top: 30px;
	float: left;
	background: url(../img/support.png) no-repeat;
}
.content-features-item2{
	width: 650px;
	height: 270px;
	margin: 0 auto;
}
.service-left{
	width: 300px;
	height: 270px;
	margin-left: 30px;
	float: left;
}
.service-right{ 
	width: 300px;
	height: 270px;
	float: left;
}
.features-item3{  
	width: 960px;
	height: 370px;
	float: left;
	background: url(../img/perkins-logo.png) no-repeat;

}
.features-h1{
	padding: 0;
	margin: 0;
	font-family: 'Play', sans-serif;
	font-size: 30px;
	line-height: 23px;
	font-weight: 700;
	color: #555555;
	text-align: center;
	text-transform: uppercase;
}
.features-item2 .features-h1{
	padding: 0;
	margin: 0;
	margin-top: 35px;
	font-family: 'Play', sans-serif;
	font-size: 30px;
	line-height: 23px;
	font-weight: 700;
	color: #555555;
	text-align: center;
	text-transform: uppercase;
}
.features-item2 .features-h2{
	padding: 0;
	margin: 0;
	margin-top: 30px;
	font-family: 'Play', sans-serif;
	font-size: 21px;
	line-height: 23px;
	font-weight: 400;
	color: #010000;
	text-align: center;
	text-transform: uppercase;
}
.service-right .features-h3{
	padding: 0;
	margin: 0;
	margin-top: 20px;
	padding-left: 90px;
	font-family: 'Play', sans-serif;
	font-size: 20px;
	line-height: 23px;
	font-weight: 400;
	color: #696969;
	text-align: center;
	text-transform: uppercase;
}
.service-right .features-service-ul{
	margin: 0;
	padding: 0;
	margin-top: 2px;
	padding-left: 90px;
	list-style: none;
	text-align: center;
}
.features-h2{
	padding: 0;
	margin: 0;
	font-family: 'Play', sans-serif;
	font-size: 22px;
	line-height: 23px;
	font-weight: 400;
	color: #3c3c3c;
	text-align: left;
	text-transform: uppercase;
}
.features-h3{
	padding: 0;
	margin: 0;
	margin-top: 20px;
	font-family: 'Play', sans-serif;
	font-size: 20px;
	line-height: 23px;
	font-weight: 400;
	color: #696969;
	text-align: center;
	text-transform: uppercase;
}
.features-ul{
	margin: 0;
	padding: 0;
	margin-top: 2px;
	list-style: none;
}
.features-ul li{
	margin: 0;
	padding: 0;
	font-family: 'Play', sans-serif;
	font-size: 20px;
	line-height: 26px;
	font-weight: 400;
	color: #510c54;
	text-transform: uppercase;
}
.features-service-ul{
	margin: 0;
	padding: 0;
	margin-top: 2px;
	list-style: none;
	text-align: center;
}
.features-service-ul li{
	margin: 0;
	padding: 0;
	font-family: 'Play', sans-serif;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
	color: #510c54;
	text-transform: uppercase;
}
.features-item3 .features-service-ul{
	margin: 0;
	padding: 0;
	margin-top: 30px;
	list-style: none;
	text-align: center;
}

/*service.php*/
.service{
	width: 960px;
	height: auto;
	padding-bottom: 100px;
}
.service-h1{
	margin: 0;
	padding: 0;
	position: relative;
	margin-top: 20px;
	padding-top: 5px;
	padding-right: 5px;	
	padding-bottom: 7px;
	padding-left: 40px;
	display: inline-block;
	background-color: #aaa2e9;
	font-family: 'Play', sans-serif;
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;
	color: #fffcf6;
	border-radius: 5px;
}
.service-h1::before{
	content: "";
	position:absolute;
	top: 7px;
	left: 3px;
	width: 30px;
	height: 30px;
	background: url('../img/service.png') no-repeat;
}
.service-p{
	margin: 0;
	padding: 0;
	margin-top: 15px;
	font-family: 'Play', sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
	color: #000;
	text-align: justify;
}
.service-h2{
	margin: 0;
	padding: 0;
	margin-top: 30px;
	margin-bottom: 20px;
	padding-top: 5px;
	padding-right: 5px;	
	padding-bottom: 7px;
	padding-left: 5px;
	display: inline-block;
	background-color: #aaa2e9;
	font-family: 'Play', sans-serif;
	font-size: 24px;
	line-height: 28px;
	font-weight: 400;
	color: #fffcf6;
	border-radius: 5px;
}
.service-div-content{
	width: auto;
	height: auto;
}
.service-div{
	width: 100px;
	height: 170px;
	margin-right: 15px;
	margin-bottom: 20px;
	float: left;
	border: 2px solid #aaa2e9;
	border-radius: 2px;
	box-shadow: 2px -2px 2px rgba(0,0,0,0.5);
}
.service-div p{
	margin: 0;
	padding: 0;
	padding-top: 2px;
	padding-right: 5px;	
	padding-bottom: 5px;
	padding-left: 5px;
	font-family: 'Play', sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: 400;
	text-align: center;
}
.service-div > .service-div-p{
	margin: 0;
	padding: 0;
	padding-top: 2px;
	padding-right: 5px;	
	padding-bottom: 5px;
	padding-left: 5px;
	font-family: 'Play', sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: 400;
	text-align: center;
}
.service-table{
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	margin-top: 10px;
	font-family: 'Play', sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: 400;
	text-align: center;
}
.service-table th{
	font-family: 'Play', sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	text-align: center;
	border: 2px solid #aaa2e9;
}
.service-table td{
	border: 2px solid #aaa2e9;
}
.form{
	width: auto;
	height: auto;
	margin-top: 20px;
}
#feedback{
	padding: 0;
	margin: 0;
	list-style: none;
}
#feedback li{
	padding: 0;
	margin: 0;
	margin-top: 5px;
}
#feedback input{
	width: 300px;
	height: 20px;
	margin: 0;
	margin-left: 150px; 
	padding: 3px;
	font-family: 'Play', sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #000;
	border: 1px solid #aaa2e9;
}
#feedback label{
	padding: 0;
	margin: 0;
	margin-top: 7px;
	position: absolute;
	font-family: 'Play', sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #000;
}
#feedback textarea{
	height: 150px;
	width: 450px;
	margin-left: 150px;
	padding-left: 5px;
	font-family: 'Play', sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #000;
	border: 1px solid #aaa2e9;
}
#form_submit{
	padding: 0;
	margin: 0;
	padding: 5px;
	font-family: 'Play', sans-serif;
	font-size: 15px;
	line-height: 19px;
	font-weight: 400;
	color: #ffffff;
	background-color: #aaa2e9;
	border: none;
	border-radius: 5px;
	box-shadow: 4px -4px 1px rgba(0,0,0,0.5);
	cursor: pointer;
}
#form_submit:hover{
	text-decoration: underline;
	background-color: #777777;
	color: #ffffff;
}

/*service-compair.php*/
.service-compair-h1{
	margin: 0;
	padding: 0;
	position: relative;
	margin-top: 20px;
	padding-top: 5px;
	padding-right: 5px;	
	padding-bottom: 7px;
	padding-left: 40px;
	display: inline-block;
	background-color: #aaa2e9;
	font-family: 'Play', sans-serif;
	font-size: 30px;
	line-height: 33px;
	font-weight: 400;
	color: #fffcf6;
	border-radius: 5px;
}
.service-compair-h1::before{
	content: "";
	position:absolute;
	top: 7px;
	left: 3px;
	width: 30px;
	height: 30px;
	background: url('../img/service.png') no-repeat;
}
.compair-img{
	width: 370px;
	height: 350px;
	margin-top: 10px;
	margin-right: 10px;
	float: left;
}
.service-compair-ul{
	width: 550px;
	height: 350px;
	margin: 0;
	padding: 0;
	margin-top: 10px;
	margin-left: 430px;
	position: absolute;

}
.service-compair-ul li{
	margin-bottom: 2px;
	font-family: 'Play', sans-serif;
	font-size: 16px;
	line-height: 25px;
	font-weight: 400;
}
.service-compair-table{
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	margin-top: 10px;
	font-family: 'Play', sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: 400;
	text-align: center;
}
.service-compair-table th{
	font-family: 'Play', sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: 400;
	text-align: center;
	border: 1px solid #aaa2e9;
}
.service-compair-table td{
	border: 1px solid #aaa2e9;
}
/*installation.php*/
.installation{
	width: 960px;
	height: auto;
	padding-bottom: 100px;
}
.installation-h1{
	margin: 0;
	padding: 0;
	position: relative;
	margin-top: 20px;
	padding-top: 5px;
	padding-right: 5px;	
	padding-bottom: 7px;
	padding-left: 40px;
	display: inline-block;
	background-color: #aaa2e9;
	font-family: 'Play', sans-serif;
	font-size: 30px;
	line-height: 33px;
	font-weight: 400;
	color: #fffcf6;
	border-radius: 5px;
}
.installation-h1::before{
	content: "";
	position:absolute;
	top: 7px;
	left: 5px;
	width: 30px;
	height: 30px;
	background: url('../img/vysokoe-naprjajenie-3.png') no-repeat;
}
.installation-p{
	margin: 0;
	padding: 0;
	margin-top: 15px;
	font-family: 'Play', sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
	color: #000;
	text-align: justify;
}
.installation-h2{
	margin: 0;
	padding: 0;
	margin-top: 30px;
	padding-top: 5px;
	padding-right: 5px;	
	padding-bottom: 7px;
	padding-left: 5px;
	display: inline-block;
	background-color: #aaa2e9;
	font-family: 'Play', sans-serif;
	font-size: 24px;
	line-height: 28px;
	font-weight: 400;
	color: #fffcf6;
	border-radius: 5px;
}
.installation-div-content{
	width: 670px;
	height: auto;
	margin: 0 auto;
}
.installation-div{
	width: 300px;
	height: auto;
	margin-top: 20px;
	margin-right: 30px;
	margin-bottom: 20px;
	float: left;
}
.installation-div img{
	margin: 0;
	padding: 0;
	width: 300px;
	height: 300px;
	border: 2px solid #aaa2e9;
	border-radius: 2px;
	box-shadow: 2px -2px 2px rgba(0,0,0,0.5);
}
.installation-div p{
	margin: 0;
	padding: 0;
	padding-top: 2px;
	padding-right: 5px;	
	padding-bottom: 5px;
	padding-left: 5px;
	font-family: 'Play', sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
}
.installation-ul{
	margin: 0;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 35px;
}
.installation-ul li{
	margin: 0;
	padding: 0;
	margin-bottom: 3px;
	font-family: 'Play', sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
}
.installation-div-content2{
	width: 348px;
	height: auto;
	margin: 0 auto;
}
.installation-div2{
	width: 150px;
	height: 200px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;
	border: 2px solid #aaa2e9;
	border-radius: 2px;
	box-shadow: 2px -2px 2px rgba(0,0,0,0.5);
}
.installation-div2 p{
	margin: 0;
	padding: 0;
	padding-top: 2px;
	padding-right: 5px;	
	padding-bottom: 5px;
	padding-left: 5px;
	font-family: 'Play', sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
}

/*delivery.php*/
.delivery{
	width: 960px;
	height: auto;
	padding-bottom: 100px;
}
.delivery-h1{
	margin: 0;
	padding: 0;
	position: relative;
	margin-top: 20px;
	padding-top: 5px;
	padding-right: 5px;	
	padding-bottom: 7px;
	padding-left: 40px;
	display: inline-block;
	background-color: #aaa2e9;
	font-family: 'Play', sans-serif;
	font-size: 30px;
	line-height: 33px;
	font-weight: 400;
	color: #fffcf6;
	border-radius: 5px;
}
.delivery-h1::before{
	content: "";
	position:absolute;
	top: 7px;
	left: 5px;
	width: 30px;
	height: 30px;
	background: url('../img/delivery.png') no-repeat;
}
.delivery-p{
	margin: 0;
	padding: 0;
	margin-top: 15px;
	font-family: 'Play', sans-serif;
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	color: #000;
	text-align: justify;
}
.delivery-ul{
	margin: 0;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 35px;
}
.delivery-ul li{
	margin: 0;
	padding: 0;
	margin-bottom: 3px;
	font-family: 'Play', sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
}

/*contacts.php*/
.contacts{
	width: 960px;
	height: auto;
	padding-bottom: 100px;
}
.contacts-h1{
	margin: 0;
	padding: 0;
	position: relative;
	margin-top: 20px;
	padding-top: 5px;
	padding-right: 5px;	
	padding-bottom: 7px;
	padding-left: 40px;
	display: inline-block;
	background-color: #aaa2e9;
	font-family: 'Play', sans-serif;
	font-size: 30px;
	line-height: 33px;
	font-weight: 400;
	color: #fffcf6;
	border-radius: 5px;
}
.contacts-h1::before{
	content: "";
	position:absolute;
	top: 7px;
	left: 5px;
	width: 30px;
	height: 30px;
	background: url('../img/contacts.png') no-repeat;
}
.contacts-p{
	margin: 0;
	padding: 0;
	margin-top: 15px;
	font-family: 'Play', sans-serif;
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	color: #000;
	text-align: justify;
}
.contacts-ul{
	margin: 0;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 35px;
}
.contacts-ul li{
	margin: 0;
	padding: 0;
	margin-bottom: 3px;
	font-family: 'Play', sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
}
.contacts-map{
	width: 400px;
	height: 300px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 3px solid #aaa2e9;
	border-radius: 2px;
	box-shadow: 4px -4px 1px rgba(0,0,0,0.5);
}

/*order-to.php*/
.order-to{
	width: 960px;
	height: auto;
	padding-bottom: 100px;
}
.order-to-h1{
	margin: 0;
	padding: 0;
	position: relative;
	margin-top: 20px;
	padding-top: 5px;
	padding-right: 5px;	
	padding-bottom: 7px;
	padding-left: 40px;
	display: inline-block;
	background-color: #aaa2e9;
	font-family: 'Play', sans-serif;
	font-size: 30px;
	line-height: 33px;
	font-weight: 400;
	color: #fffcf6;
	border-radius: 5px;
}
.order-to-h1::before{
	content: "";
	position:absolute;
	top: 7px;
	left: 5px;
	width: 30px;
	height: 30px;
	background: url('../img/order-to.png') no-repeat;
}
.form{
	width: auto;
	height: auto;
	margin-top: 20px;
}
#to_apply{
	padding: 0;
	margin: 0;
	list-style: none;
}
#to_apply li{
	padding: 0;
	margin: 0;
	margin-top: 5px;
}
#to_apply input{
	width: 300px;
	height: 20px;
	margin: 0;
	margin-left: 220px; 
	padding: 3px;
	font-family: 'Play', sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #000;
	border: 1px solid #aaa2e9;
}
#to_apply label{
	padding: 0;
	margin: 0;
	margin-top: 7px;
	position: absolute;
	font-family: 'Play', sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #000;
}
#to_apply textarea{
	height: 150px;
	width: 450px;
	margin-left: 220px;
	font-family: 'Play', sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #000;
	border: 1px solid #aaa2e9;
}
#form_submit{
	padding: 0;
	margin: 0;
	padding: 5px;
	font-family: 'Play', sans-serif;
	font-size: 15px;
	line-height: 19px;
	font-weight: 400;
	color: #ffffff;
	background-color: #aaa2e9;
	border: none;
	border-radius: 5px;
	box-shadow: 4px -4px 1px rgba(0,0,0,0.5);
	cursor: pointer;
}
#form_submit:hover{
	text-decoration: underline;
	background-color: #777777;
	color: #ffffff;
}

/*catalog.php*/
.catalog{
	width: 960px;
	height: auto;
	padding-bottom: 100px;
}
.block-category{
	width: 200px;
	height: auto;
	margin-top: 20px;
	float: left;
	clear: both;
}
.category-products{
	margin: 0;
	padding: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	font-family: 'Play', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #fbfbfb;
	text-align: center;
	background-color: #5f5e5c;
	border-radius: 1px;
} 
.block-category  > ul{
	margin: 0;
	padding: 0;
	margin-top: 7px;
}
.block-category  > ul > li{
	margin: 0;
	padding: 0;
	list-style: none;
}
.block-category  > ul > li  > a{
	margin: 0;
	padding: 0;
	margin-top: 5px;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 6px;
	display: block;
	font-family: 'Play', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 15px;
	color: #fbfbfb;
	text-align: center;
	background-color: #4e585d;
	border-radius: 1px;
	cursor: pointer;
}
.block-category  > ul > li  > a:hover{
	background-color: #aaa2e9;
	color: #fbfbfb;
}
.block-category  > ul > li  > a.active{
	background-color: #5f736d;
	color: #fbfbfb;
}
.category-in-products{
	margin: 0;
	padding: 0;
	margin-top: 5px;
	display: none;
}
.category-in-products li{
	margin: 0;
	padding: 0;
	list-style: none;
}
.one-models {
	margin: 0;
	padding: 0;
	margin-bottom: 5px;
	padding: 3px 5px;
	display: block;
	font-family: 'Play', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 15px;
	color: #fbfbfb;
	text-align: center;
	text-decoration: none;
	background-color: #656374;
	border-radius: 1px;
	
}
.one-models:hover {
	text-decoration: underline;
}
.section-right-h1{
	margin: 0;
	padding: 0;
	position: relative;
	margin-top: 20px;
	padding-top: 5px;
	padding-right: 5px;	
	padding-bottom: 7px;
	padding-left: 40px;
	display: inline-block;
	background-color: #aaa2e9;
	font-family: 'Play', sans-serif;
	font-size: 30px;
	line-height: 33px;
	font-weight: 400;
	color: #fffcf6;
	border-radius: 5px;
}
.section-right-h1::before{
	content: "";
	position:absolute;
	top: 7px;
	left: 5px;
	width: 30px;
	height: 30px;
	background: url('../img/ok.png') no-repeat;
}
.section-right-p{
	margin: 0;
	padding: 0;
	margin-top: 15px;
	font-family: 'Play', sans-serif;
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	color: #000;
	text-align: justify;
}
.section-right-p a{
	margin: 0;
	padding: 0;
	font-family: 'Play', sans-serif;
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	color: #aaa2e9;
	text-align: justify;
}
.section-right-p a:hover{
	text-shadow: 1px 1px 2px #aaa2e9;
	text-decoration: none;
}
.section-right-ul{
	margin: 0;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 35px;
}
.section-right-ul li{
	margin: 0;
	padding: 0;
	margin-bottom: 3px;
	font-family: 'Play', sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
}
.content-products{
	width: 740px;
	height: auto;
	margin-top: 20px;
	float: right;
}
.one-products{
	width: 350px;
	height: 250px;
	margin: 0;
	padding: 0;
	margin-right: 20px;
	margin-bottom: 20px;
	list-style: none;
	float: left;
	border-bottom: 1px solid #aaa2e9;
}
.title-one-products {
	margin: 0;
	padding: 0;
	font-family: 'Play', sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 17px;
	color: #5f736d;
}
.img-one-products{
	width: 150px;
	height: 150px;
	margin: 0;
	padding: 0;
	margin-top: 10px;
	margin-right: 10px;
	border: 2px solid #aaa2e9;
	box-shadow: 4px -4px 1px rgba(0,0,0,0.5);
}
.img-one-products-max{
	width: 250px;
	height: 250px;
	margin: 0;
	padding: 0;
	margin-top: 10px;
	margin-right: 10px;
	border: 2px solid #aaa2e9;
	box-shadow: 4px -4px 1px rgba(0,0,0,0.5);
}
.products-description{
	margin: 0;
	padding: 0;
	margin-top: 10px;
	font-family: 'Play', sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 17px;
	color: #5f736d;
}
.order-styl-p{
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	padding-top: 10px;
	
}
.order-styl-a{
	width: 150px;
	display: block;
	margin: 0;
	padding: 0;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	font-family: 'Play', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 15px;
	color: #fbfbfb;
	text-align: center;
	text-decoration: none;
	background-color: #656374;
	border-radius: 1px;
	box-shadow: 4px -4px 1px rgba(0,0,0,0.5);
}
.order-styl-a:hover{
	color: #fbfbfb;
	text-decoration: underline;
	background-color: #aaa2e9;
}
.price-and-count{
	margin: 0;
	padding: 0;
	margin-top: 10px;
	list-style: none;
}
.price-and-count li{
	margin: 0;
	padding: 0;
	margin-top: 10px;
	font-family: 'Play', sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 17px;
	color: #5f736d;
}

/*Построчная навигация*/
.pstrnav{
	width: 700px;
	height: 30px;
	clear: both;
}
.pstrnav li{
	width: 25px;
	height: 25px;
	margin: 0;
	padding: 0;
	margin-top: 5px;
	margin-left: 10px;
	float: left;
	list-style: none
}
.pstrnav a{
	margin: 0;
	padding: 0;
	padding: 5px;
	display: block;
	font-family: 'Play', sans-serif;
	font-weight: 400;
	font-size: 17px;
	line-height: 17px;
	color: #4e585d;
	text-align: center;
	text-decoration: none;
}
.pstrnav a:hover{
	color: #004532;
	border-radius: 4px;
	background-color: #ddd8ff;
}
.pstrnav a.pstr-active{
	background-color: #ddd8ff;
	color: #004532;
}
.pstrnav p.nav-point{
	margin: 0;
	padding: 0;
	margin-top: 5px;
	text-align: center;
	font-family: 'Play', sans-serif;
	font-weight: 400;
	font-size: 17px;
	line-height: 17px;
	color: #004532;
}

/*footer.php*/
.main-footer{
	width: 100%;
	height: 90px;
	background-color: #7c7e7d;
	position: absolute; 
	bottom: 0px;
	clear: both;
}
.footer-nav{
	width: 200px;
	height: 90px;
	float: left;
	margin-right: 10px;
	border-right: 2px solid #fffcf6;
}
.footer-nav ul{
	margin: 0;
	padding: 0;
	padding-left: 15px;
	padding-top: 5px;
	list-style: none;
}
.footer-nav li{
	margin: 0;
	padding: 0;
}
.footer-nav a{
	margin: 0;
	padding: 0;
	font-family: 'Play', sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #fffcf6;
}
.footer-nav a:hover{
	text-decoration: none;
	text-shadow: 1px 1px 2px #ffffff;
}
.copyright{
	width: 250px;
	height: 90px;
	float: left;
	border-right: 2px solid #fffcf6;
	
}
.copyright-brands{
	margin: 0;
	padding: 0;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'Play', sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #fffcf6;
}
.footer-contacts{
	width: 250px;
	height: 90px;
	float: right;
	margin-right: 15px;
}
.footer-tel{
	margin: 0;
	padding: 0;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
	font-family: 'Play', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	text-align: right;
	color: #fffcf6;
}
.footer-e-mail{
	margin: 0;
	padding: 0;
	font-family: 'Play', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #fffcf6;
	text-align: right;
}
.footer-e-mail a{
	margin: 0;
	padding: 0;
	font-family: 'Play', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	color: #fffcf6;
	text-align: right;
}
.footer-e-mail a:hover{
	text-decoration: none;
	text-shadow: 1px 1px 2px #ffffff;
}

/*partners.php*/
.partners{
	width: 960px;
	height: auto;
	padding-bottom: 100px;
}
.partners-h1{
	margin: 0;
	padding: 0;
	position: relative;
	margin-top: 20px;
	padding-top: 5px;
	padding-right: 5px;	
	padding-bottom: 7px;
	padding-left: 40px;
	display: inline-block;
	background-color: #aaa2e9;
	font-family: 'Play', sans-serif;
	font-size: 30px;
	line-height: 33px;
	font-weight: 400;
	color: #fffcf6;
	border-radius: 5px;
}
.partners-h1::before{
	content: "";
	position:absolute;
	top: 7px;
	left: 3px;
	width: 30px;
	height: 30px;
	background: url('../img/partners.png') no-repeat;
}
.partners-p{
	margin: 0;
	padding: 0;
	margin-top: 15px;
	font-family: 'Play', sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
	color: #000;
	text-align: justify;
}
   