$main-orange-color: #ffbe45;
$main-orange-color-2: #ffbd49; 
$main-orange-color-3: #ffbc4d;  
$bcg-footer-color: #00111a;

$white: #fff;

$black: #000000;
$black-opacity-1: rgba(0, 0, 0, .6);
$black-opacity-2: rgba(0, 0, 0, 0.95);

$blue-color: #102b39;

$gold-color: #593a01;

$oswaldText: 'Oswald', sans-serif;
$robotoText: 'Roboto Condensed', sans-serif;
$openSansText: 'Open Sans', sans-serif;
