.advantages{
  width: 100%;
  background: linear-gradient(rgba(12, 79, 122, 0.7), rgba(0, 24, 34, 0.7)), 
              url(../img/bg2.jpg);
  padding: 5rem 0;
  &__container{
    width: 1140px;
    margin: 0 auto;
  }
  &__box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__advantage{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 5rem; 
  } 
}