.contacts{
    width: 100%;
    background-color: $white;
    padding: 10rem 0rem 5rem 0rem;
    &__container{
        width: 1140px;
        margin: 0 auto;
    }
    &__list{
        margin: 5rem 0rem 0rem 0rem;
    }
    &__item{
        font-family: $openSansText;
        font-size: 2.3rem;
        line-height: 3.3rem;
        font-weight: bold;
        color: $gold-color;
        &:not(:last-child){
            margin-bottom: 2rem;
        }
        &--mod{
            color: $blue-color;
        }
    }
}