@font-face{
  font-family: Oswald; /* Гарнитура шрифта */
  src: url(../fonts/Oswald-Bold.ttf); /* Путь к файлу со шрифтом */
}  
@font-face{
  font-family: RobotoCondensed; /* Гарнитура шрифта */
  src: url(../fonts/RobotoCondensed-Regular.ttf); /* Путь к файлу со шрифтом */
}   