.price{
  width: 100%;
  padding: 10rem 0;
  background-color: $black;  
  background-image: url(../img/fon-price.png); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &__container{
    width: 1140px;
    height: 100%;
    margin: 0 auto;

  }   
  &__table{
  width: 100%;
  margin-top: 2.5rem;
  }
} 
.note-box{
  width: 100%;
  margin-top: 4.5rem; 
  &__text{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.2rem;
    line-height: 3.3rem;
    font-weight: 600;
    color: $white;  
  }
}