td{
  border: 1px solid $white;
}
th{
  border: 1px solid $white;
}
.table{
  width: 100%;
  border: 1px solid $white; 
  border-collapse: collapse;
  &__power,
  &__form-sm{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    line-height: 3.3rem;
    font-weight: bold;
    color: $main-orange-color-3; 
    text-align: center;
  }
  &__number-sm{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7rem;
    line-height: 3.3rem;
    font-weight: bold;
    color: $white; 
    text-align: center; 
  }
  &__price{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    line-height: 3.3rem;
    font-weight: bold;
    color: $main-orange-color-3; 
    text-align: center;
  }
  &__graduation{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    line-height: 3.3rem;
    font-weight: 400;
    color: $white; 
    text-align: center; 
  }
  &__footer{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.2rem;
    line-height: 3.3rem;
    font-weight: 400;
    color: $main-orange-color-3; 
    text-align: center;
    &--mod{
      font-size: 2.1rem;
      color: $white;  
      font-weight: 700;
    }
  }
}
