$main-orange-color: #ffbe45;
$main-orange-color-2: #ffbd49; 
$main-orange-color-3: #ffbc4d;  

$white: #fff;

$black: #000000;
$black-opacity-1: rgba(0, 0, 0, .6);   

$oswaldText: 'Oswald', sans-serif;